* {
    margin: 0;
    padding: 0;
}

.container section {
    height: 100vh;
}

.container section h1 {
    font-weight: 800;
    color: var(--light-main-txt);
}

.container section p {
    font-weight: 400;
    color: var(--light-main-txt);
}

.container section:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
}

.container section:nth-child(1) .name {
    margin-bottom: 3vh;
    font-weight: 600;
}

.container section:nth-child(1) .title {
    font-size: 6vh;
    margin-bottom: 3vh;
    padding: 10px 10px 15px 10px;
    color: var(--light-sub-txt);
    background-color: var(--light-main-txt);
}

.container section .title {
    white-space: pre-wrap;
}

.container section.contents {
    padding: 5vw 5vw;
}

.container section.contents .name {
    margin-bottom: 3vh;
    font-weight: 600;
}

.container section.contents .title {
    font-size: 6vh;
    margin-bottom: 3vh;
    padding: 10px 10px 15px 10px;
    color: var(--light-sub-txt);
    background-color: var(--light-main-txt);
}

.container section.contents li {
    padding: 10px 10px 5px 0px;
    color: var(--light-main-txt);
    line-height: 1;
}