* {
    margin: 0;
    padding: 0;
    
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

/* 글자 애니메이션 넣을려고 잠깐 삭제함^^ */
/* .container section .content {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 700px;
} */

.container section .content h1 {
    color: #ffffff;
    font-weight: 900;
    line-height: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 3rem;
}

.container section .content p {
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 20px;
}

.container section:nth-child(1) {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container section:nth-child(1) .content h1 {
    line-height: 1em;
    position: relative;
    font-size: 6em;
    color: #222;
}

.container section:nth-child(1) .content h1::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px soild #fff;
    animation: animate 4s ease-out 1;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff)
}

@keyframes animate {
    0%, 10% {
        width: 0;
    }
    70%, 90% {
        width: 100%
    }
}

.container section:nth-child(1) .content p {
    position: relative;
    top: 0px;
    font-size: 1em;
    color: #222;
}

section.dark {
    background-color: var(--dark-main-bg);
    color: var(--dark-main-txt);
}

section.light {
    background-color: var(--light-main-bg);
    color: var(--light-main-txt);
}

