nav {
    /* background-color: var(--light-main-bg); */
    background-color: var(--light-sub-txt);
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
}

nav img {
    padding-left: 5vw;
    vertical-align: middle;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
    padding-right: 5vw;
}